:root {
    --clr: rgb(194, 236, 210);
    --b-clr1: rgb(110, 245, 234);
    --b-clr2: rgb(181, 150, 255);
}

body{
    /*width: 100vw;*/
    /*min-height: 100vh;*/
    /*background: var(--clr);*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.container{
    position: relative;
    width: 350px;
    height:400px;
    background: #000;
    border-radius: 24px;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 420px;
    margin-top: -210px;
    margin-left: -250px;
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    box-shadow:0 15px 25px rgba(84, 76, 76, 0.3);
    border-radius: 10px;


}
.register {
    width: 520px;
    height: 540px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -270px;
    margin-left: -260px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow:0 15px 25px rgba(159, 175, 158, 0.6);
    border-radius: 10px;
}

.login::before{
    content:'';
    width: 350px;
    height: 490px;

    position: absolute;
    animation: myAnimate 2s linear infinite;
    transform-origin: bottom left;
    top:-95%;
    left:+50%;
    z-index: -1;
}
.register::before{
    content:'';
    width: 350px;
    height: 500px;

    position: absolute;
    animation: myAnimate 2s linear infinite;
    transform-origin: bottom left;
    top:-95%;
    left:+50%;
    z-index: -1;
}
.login::after{
    content:'';
    width: 350px;
    height: 490px;

    position: absolute;
    animation: myAnimate 2s linear infinite;
    transform-origin: top right;
    top:+50%;
    left:-20%;
    z-index: -1;

}
.register::after{
    content:'';
    width: 350px;
    height: 500px;

    position: absolute;
    animation: myAnimate 2s linear infinite;
    transform-origin: top right;
    top:+50%;
    left:-20%;
    z-index: -1;

}
@keyframes myAnimate {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.content{
    color: #fff;
    width: 490px;
    height: 328px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
.register-content{
    color: #fff;
    width: 280px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    z-index: 2;
}
.login-container{
    margin: auto;
    padding: 0%;
    font-family: sans-serif;
    position: relative;

}
.login-button{
    position: relative;
    display: inline-block;
    font-size: 20px;
    height: 35px;
    width: 100px;
    color: #8dd583;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    background: none;
    border-style: none;
}
.login-button:hover{
    background: #9aef8d;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #b0f6ab,
    0 0 25px #b9fabd,
    0 0 50px #c7fdcf,
    0 0 100px #baffbe;
}
.login-button-container{
    width: 215px;
    margin:auto;
}
label{
    color: #5db252;
}
.login-form{
    width: 280px;
    margin: auto;
}

.log-input{
    background-color:transparent;
}
