ur,li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
p{
    font-size: 30px;
    color: burlywood;
    margin-top: 20px;
    margin-left: 20px;
}
.page-background{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /*margin: 0px 20px 0px 20px;
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    border: 1px solid #aaa;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 15px rgba(200, 75, 75, 0.3);*/
}
.user-models-header{
    display: flex;

}
.addModel{
    width: 100px;
    height: 35px;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
}
.models{

}
.in-model{
    display: block;

}
template{
    display: block;
}

.model-container{

    display: flex;
    width: 1280px;
    height: 100%;
    background-color: white;
    margin: 1px auto auto;

}
